.about_main_container {
    width: 1000px;
}

.about_main_container article p {
    margin-bottom: 0px;
}

@media (max-width: 1070px) {
    .about_main_container {
        width: 80%;
    }
    .about_main_container article p {
        margin-bottom: 120px;
    }
}