.about_main_container {
    width: 1000px;
    margin-top: 0px;
}

.about_main_container article p {
    margin-bottom: 0px;
}

.resume-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    
}

@media (max-width: 1070px) {
    .about_main_container {
        width: 80%;
        margin-top: 56px;
    }
    .about_main_container article p {
        margin-bottom: 120px;
    }
}