.contact_main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.form_left_container {
    width: 500px;
}

.form_subtitle_container {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.form_subtitle {
    margin-top: 0;
}

.email_phone_contact_container {
    display: flex;
    flex-direction: column;
}

.email_phone_contact, 
.social_icons {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 240px;
    margin-bottom: 16px;
}

.form_right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#name_input,
#mail_input {
    height: 32px;
    width: 360px;
    margin-bottom: 16px;
    padding: 0 0 0 8px;
}

#message_input {
    height: 96px;
    width: 360px;
    margin-bottom: 16px;
    padding: 0 0 0 8px;
}

.form_send_button {
    width: 96px;
    height: 32px;
    border-radius: 8px;
    border: none;
}

@media (max-width: 1070px) {
    .contact_main_container {
        width: 80%;
        height: 1000px;
    }
}

@media (max-width: 875px) {
    .contact_main_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 600px;
        margin-top: 96px;
    }
    .form_left_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        text-align: center;
    }
    .email_phone_contact,
    .social_icons {
        width: 100%;
        justify-content: space-between;
    }
}