.menu_logo_container {
    position: absolute;
    top: 16px;
    right: 40px;
    z-index: 3;
}

.desapear {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_main_container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: gray;
    overflow: hidden;
    transition: height 0.5s ease;
    z-index: 2;
}

.active {
    height: 100%;
    transform: translateY(0);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@keyframes move {
    0%{transform: translateY(0px);}
    50%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
}

.signal_to_keep_down {
    position: absolute;
    top: calc(100vh - 100px  );
    right: 50%;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}