.presentation_main_container {
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
}

.name_paragraph_container {
    width: 700px;
}

.name_container {
    display: flex;
    align-items: center;
}

.name_container h1 {
    margin: 0 0 8px 0;
}

.paragraph_container {
    display: flex;
    align-items: center;
}

.paragraph_container p {
    text-align: left;
    margin: 0;
}

.peace_icon,
.grow_icon {
    margin-left: 8px;
}

.my-avatar {
    height: 225px;
    width: 225px;
    background-color: #FFF;
    background: url("../../public/assets/avatar.png");
}

.my-avatar-background {
    height: 225px;
    width: 225px;
    background-color: #FFF;
    border-radius: 50%;
}

@media (max-width: 1070px) {
    .presentation_main_container {
        display: flex;
        flex-direction: column;
        width: 750px;
    }
    .name_paragraph_container {
        margin-bottom: 120px;
        margin-top: 120px;
    }
}

@media (max-width: 775px) {
    .presentation_main_container {
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    .name_paragraph_container {
        width: 500px;
        margin-bottom: 120px;
        margin-top: 120px;
        
    }
}

@media (max-width: 525px) {
    .presentation_main_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name_paragraph_container {
        width: 90%;
        margin-bottom: 120px;
        margin-top: 120px;
        
    }
}

@media (max-width: 250px) {
    .my-avatar-background,
    .my-avatar {
        display: none;
    }
}