.project_main_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project_container {
    display: flex;
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project_container:hover {
    z-index: 1;
    opacity: 1;
}

.project_card_inner_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.title_description_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title_description_container h3 {
    margin: 16px 0 0 0;
}

.title_description_container p {
    width: 85%;
    text-align: center;
}

.tools_used_container {
    width: 100%;
}

.tools_used_container h4 {
    text-align: center;
    margin: 0 0 12px 0;
}

.tool_container {
    display: flex;
    justify-content: space-around;
}

.tool_container h5 {
    border: 1px solid white;
    padding: 8px;
    border-radius: 4px;
    margin: 0;
    width: 70px;
    text-align: center;
}

.view_project_container {
    width: 100%;
}

.view_buttons_container_ul {
    display: flex;
    justify-content: space-around;
    margin: 32px;
    padding: 0;
}

.view_buttons_container_li {
    border: 1px solid white;
    padding: 8px;
    border-radius: 4px;
    width: 115px;
    text-align: center;
}

.view_buttons_container_a {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1070px) {
    .project_main_container {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .tools_used_container {
        display: none;
    }
}


@media (max-width: 200px) {
    .view_buttons_container_a {
        font-size: 12px;
    }
}

@media (max-width: 165px) {
    .view_buttons_container_a {
        font-size: 10px;
    }
}
