.projects_main_container {
    width: 1000px;
}

.projects_cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.projects_cards_container :nth-child(5) {
    grid-column: span 2;
}